name: test
permissions:
  contents: read

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macOS-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version-file: '.go-version'
    - name: test
      run: make test
  testacc_terraform:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        terraform:
        - 1.9.0
        - 1.8.5
        - 0.12.31
    env:
      TERRAFORM_VERSION: ${{ matrix.terraform }}
      TFSCHEMA_TF_MODE: terraform
    steps:
    - uses: actions/checkout@v4
    - name: docker build
      run: docker compose build
    - name: terraform --version
      run: docker compose run --rm tfschema terraform --version
    - name: testacc
      run: docker compose run --rm tfschema make testacc
  testacc_opentofu:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        opentofu:
        - 1.8.0
        - 1.7.3
        - 1.6.3
    env:
      OPENTOFU_VERSION: ${{ matrix.opentofu }}
      TFSCHEMA_TF_MODE: opentofu
    steps:
    - uses: actions/checkout@v4
    - name: docker build
      run: docker compose build
    - name: opentofu --version
      run: |
        docker compose run --rm tfschema tofu --version
    - name: testacc
      run: docker compose run --rm tfschema make testacc
